.marquee {
    animation: marquee 20s linear infinite;
    width: max-content;

    &:hover {
        animation-play-state: paused;
    }

}


@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}