@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* THEME COLORS */
  --primary: #f3f4e4;
  --primary-content: #2d3238;
  --secondary: #113855;
  --secondary-content: #f3f4e4;
  --accent: #FFBF47;
  --base-100: #f3f4e4;
  --neutral: #113855;
  --neutral-content: #FFBF47;

  /* CSS VARIABLES */
  --navbar-cursor-width: 90px;
}

.hero-top-gradient,
.hero-right-gradient,
.hero-bottom-gradient,
.hero-left-gradient,
.hero-background {
  position: absolute;
  top: 0;
  right: 0;

  width: 100%;
  height: 100%;
}

.hero-top-gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0)70%, rgba(38, 52, 64, 1) 100%);
}

.hero-right-gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0)70%, rgba(38, 52, 64, 1) 100%);
}

.hero-bottom-gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0)70%, rgba(38, 52, 64, 1) 100%);
}

.hero-left-gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(270deg, rgba(0, 0, 0, 0)70%, rgba(38, 52, 64, 1) 100%);
}

.hero-background {
  background: rgba(38, 52, 64, .5);
}




.swiper {

  .swiper-button-prev {
    background-image: url(./assets/chevron-left.svg) !important;
    background-repeat: no-repeat;
    background-size: 300% auto;
    background-position: center;

    &::after {
      display: none;
    }
  }

  .swiper-button-next {
    background-image: url(./assets/chevron-right.svg) !important;
    background-repeat: no-repeat;
    background-size: 300% auto;
    background-position: center;

    &::after {
      display: none;
    }
  }


  .swiper-pagination {
    .swiper-pagination-bullet-active {
      background-color: #FFBF47;
    }
  }
}

/* md */
@media (width < 48rem) {

  .swiper-button-prev,
  .swiper-button-next {
    visibility: hidden;
  }
}



.bullets-group {
  .swiper-slide {
    width: auto !important;
  }
}