@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* THEME COLORS */
  --primary: #f3f4e4;
  --primary-content: #2d3238;
  --secondary: #113855;
  --secondary-content: #f3f4e4;
  --accent: #FFBF47;
  --base-100: #f3f4e4;
  --neutral: #113855;
  --neutral-content: #FFBF47;

  /* CSS VARIABLES */
  --navbar-cursor-width: 90px;
}